doctype html
html(lang="en")
  head
    title titlePage
    link(rel="stylesheet" href="./styles.css")
    // fonts
    link(href="https://fonts.googleapis.com/css?family=Amarante" rel="stylesheet")
  body
    header
      h1 Starter
  script(src="./javascripts.js")
